<!DOCTYPE html>
<html>
<head>
    <title>Display Data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container">
        <section>
            <p>First, set up your environment:</p>
            <a href="/test" role="button">1. Test DB connection</a>
            <a href="/create" role="button">2. Create the 'names' table</a>
            <a href="/initialize" role="button">3. Initialize the 'names' table</a>
            <a href="/extensions" role="button">4. Turn on extensions</a>
        </section>
        <section>
            <p>Remember to also initialize Qdrant database. Please note that Upsert may take a long time, because model files will be downloaded first</p>
            <a href="/initQdrant" role="button">5. Initialize Qdrant</a>
            <a href="/upsert" role="button">6. Upsert embeddings - may take a long time</a>
        </section>
        <section>
            <p>Use the following links to interact with the database:</p>
            <a href="/search" role="button" >Test search</a>
        </section>
    </main>
</body>
</html>
