<!DOCTYPE html>
<html>
<head>
    <title>Display Data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container">
        <p>Use the following links to interact with the database:</p>
        <ul>
            <li><a href="/test">Test DB connection</a></li>
            <li><a href="/search">Test search</a></li>
            <li><hr></li>
            <li><a href="/create">Create the 'names' table</a></li>
            <li><a href="/initialize">Initialize the 'names' table</a></li>
            <li><a href="/extensions">Turn on extensions</a></li>
            <li><hr></li>
            <li><a href="/initQdrant">Initialize Qdrant</a></li>
            <li><a href="/upsert">Upsert embeddings</a></li>
        </ul>
    </main>
</body>
</html>
